@import './base.css';

header,
footer {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 1rem;
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}


section {
  margin-bottom: 3rem;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-accent);
  margin-bottom: 1rem;
}
